.papper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  width: '100%';
  margin-top: 3%;
}

.submit {
  height: 50px;
  margin-top: 5%;
}

.taskCreateSelect {
  width: 100%;
}